---
import SearchArticle from './SearchArticle.astro';
import ThemeToggleButton from './ThemeToggleButton.astro';
---

<header>
  <nav class="max-w-4xl mx-auto p-4 flex justify-between items-center">
    <a href="">
      <img src="/kaga-logo.svg" alt="Kaga logo" class="w-12 aspect-square">
    </a>
    <div class="flex items-center gap-x-4">
      <a href='/articles'>Articles</a>
      <SearchArticle/>
      <!-- <LanguagePicker/> -->
      <ThemeToggleButton/>
    </div>
  </nav>
</header>
