---
import type { HTMLAttributes } from 'astro/types';
import { getAbsoluteLocaleUrl } from 'astro:i18n';

interface Props extends HTMLAttributes<'a'>{
  href:string;
}

const {
  href,
  class:className,
  ...props
}=Astro.props;

const { pathname } = Astro.url;

const locale=Astro.currentLocale;

let absoluteUrl:string|undefined=undefined;

if(locale)absoluteUrl=getAbsoluteLocaleUrl(locale,href);

const isActive=
  absoluteUrl!==undefined&&
  pathname===absoluteUrl
---

<a 
  href={absoluteUrl}
  class:list={[
    className,
    {'is-active':isActive},
  ]} 
  aria-current={isActive?'page':undefined}
  {...props}
>
  <slot></slot>
</a>
