---
import { YouTube } from '@astro-community/astro-embed-youtube';

interface Props{
  id:string;
  title:string;
}

const {id,title}=Astro.props;
---

<figure>
  <div class="rounded-sm overflow-hidden">
    <YouTube
      id={id}
      title={title}
      params="vq=hd720"
    />
  </div>
  <figcaption class="mt-2 text-center text-gray-500 dark:text-gray-400">
    <slot></slot>
  </figcaption>
</figure>
