---
interface Props{
  to:string;
  color:string;
}

const {to}=Astro.props;
---

<a href={to} class="btn">
  <slot></slot>
</a>

<style>
.btn {
  padding:8px 20px;
  border-radius:999px;
  border:1px solid var(--sl-color-hairline);
  color:var(--sl-color-gray-3);
  font-size:0.9rem;
  text-decoration:none;
  display:flex;
  align-items:center;
  gap:8px;
  transition:all 0.2s ease;
}

.btn:hover {
  background:var(--sl-color-bg-nav);
  color:var(--sl-color-white);
  border-color:var(--sl-color-gray-2);
  transform:translateY(-2px);
}
</style>
