---
const year=new Date().getFullYear();
---

<footer class="footer">
  <p class="footer-text">
    &copy; {year} Akagi
  </p>
  <p class="footer-text">
    Powered by
    <a href="https://github.com/withastro/starlight">Astro Starlight</a>
  </p>
</footer>

<style>
.footer{
  display:flex;
  justify-content:space-between;
}
</style>
