@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source '../../components/**/*.{vue}';
@source '../../layouts/**/*.{vue}';

@theme{
  --color-primary: var(--color-blue-600);
  --color-secondary: var(--color-slate-600);

  --color-background: var(--color-slate-50);
  --color-surface: var(--color-white);
  --color-border-color: var(--color-slate-200);

  --color-body: var(--color-slate-900);
  --color-muted: var(--color-slate-500);

  --color-success: var(--color-emerald-600);
  --color-warning: var(--color-amber-600);
  --color-error: var(--color-red-600);
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer theme{
  :root{
    @variant dark{
      --color-primary: var(--color-blue-400);
      --color-secondary: var(--color-slate-400);

      --color-background: var(--color-slate-950);
      --color-surface: var(--color-slate-900);
      --color-border-color: var(--color-slate-800);

      --color-body: var(--color-slate-50);
      --color-muted: var(--color-slate-400);

      --color-success: var(--color-emerald-400);
      --color-warning: var(--color-amber-400);
      --color-error: var(--color-red-400);
    }
  }
}

@layer base{
  html{
    scroll-padding-top:32px;
  }

  body,
  input,
  button{
    @apply text-muted;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6{
    @apply text-body;
  }

  body{
    @apply bg-background;
  }

  a{
    @apply text-primary hover:underline;
  }

  button{
    @apply cursor-pointer disabled:cursor-default;
  }
}
